/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;

}
.jumbotron{
	text-align: center;
	background-image: url('../images/heart background 01.jpg');
	background-repeat: repeat-x;
	background-position: center;

    margin-bottom: 0px;
}

#get-involved {

	background-color: pink
	}

.navbar audio{
	   margin-left: 270px;
	    margin-top: -43px;
    	color: pink;
    	background-color: pink;
        float: right;

}
ul.nav{
	font-size: 20px;
}

.fa-stack-2x {
    font-size: 2em;
    color: red;
  }

ul.nav{
font-family: 'Arvo', courier , serif;
}

.jumbotron h1{
	font-family: 'Arvo', courier , serif;

}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;

}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100px;
	padding: 0 20px;


}
.btn.lg{
	font-size: 36px;
}

.homepage{
	text-align: center;
	padding-top: 30px;
	padding bottom: 30px;


}
.homepage h2{
	
    font-family: cursive;
    text-transform: uppercase;
    margin-top: 0;

}
.homepage h3{
	color: deeppink;
    text-transform: uppercase;
    font-family: cursive;
}
.homepage p{
	font-size: 21px;
    font-weight: 300;
}
.homepage a{
	color: red;
	text-decoration: none;
	opacity: .8;
}
.homepage hr{
	border-top: 1px solid;
    border-color: red;
    width: 204px;
    margin-top: 15px;
}

.homepage img {
	height: 140px
}

.homepage a:hover{
	color: red;
	text-decoration: none;
	opacity: .8;

}

.vienna {
	height: 200px;
    width: 200px;
    border-radius: 100px;
    border: solid 5px;
    border-color: pink;
   

}

.text-title {
	text-align: left;
}

.row {
	
}

footer{
	
    font-family: fantasy;
    color: turquoise;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-size: 28px


}



  

  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
        animation-iteration-count: infinite;


  }
  .heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  @keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }



  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
  }
  .heart::after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart::before {
    content: "";
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
/* Responsive Styling*/
@media (max-width: 1199px) {
	.jumbotron h1{
		font-size: 56px
		margin-bottom: 30px;
	}
@media (max-width: 991px) {
	.navbar-header img{
		height: 30px
	}
	.navbar-text a{
		font-size: 30px
	}
	.jumbotron h1{
		font-size: 44px
	}
	.jumbotron p{
		padding: 0 10px;
	}
	#get-involved col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media (max-width: 767px) {
	.navbar-header img{
		height: 20px
	}
	.navbar-text a{
		font-size: 20px
	}
	.jumbotron h1{
		font-size: 24px
	}
	.jumbotron p{
		padding: 0;
		font-size: 16px;
	}
	#get-involved col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}

